{
  "extends": ["prettier", "standard", "standard-react", "standard-flow"],
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "globals": {
    "__DEV__": true,
    "describe": true,
    "it": true,
    "fetch": true,
    "expect": true,
    "jest": true
  }
}
